Windows10UWP/obj/
Windows10UWP/bin/
Core/Android/obj/
Core/Android/bin/
Core/Android/Content/obj/
Core/Android/Android.csproj.user
Core/Content/bin/Android/continue.xnb
Core/Content/bin/Android/dead.xnb
Core/Content/obj/
Core/Content/obj/Android/
Core/Content/miner-16x16.png~
Desktop/Content/
Desktop/obj/
Desktop/x64
Desktop/x86
.vs/
Core/Core.shproj.user
Desktop/.gitignore
Desktop/bin/